<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div id="card" class="weater">
				<div class="city-selected">
					<article>
						<div style="padding: 55px 0px 0px 55px;font-size: 25px;" *ngIf="noResultFound">
							No results were found. Try changing the keyword!
						</div>

						<div class="info" *ngIf="data?.consolidated_weather !== undefined">
							<div>
								<h1 class="city">{{data?.consolidated_weather[0].applicable_date | dayConvert}}</h1>
							</div>
							<div class="city">
									{{data?.title}} | {{weatherStates[data?.consolidated_weather[0].weather_state_abbr]['name']}}
							</div>
			
							<div class="temp" *ngIf="data?.consolidated_weather !== undefined">{{data?.consolidated_weather[0].the_temp | round}}°</div>

							<div class="wind" *ngIf="data?.consolidated_weather !== undefined">
								<span>{{data?.consolidated_weather[0].min_temp | round}}° / 
								{{data?.consolidated_weather[0].max_temp | round}}°</span>
							</div>
						</div>

						<div *ngIf="data?.consolidated_weather !== undefined">
							<img [src]="weatherStates[data.consolidated_weather[0].weather_state_abbr]['icon']" height="170px">

							<div class="wind" style="text-align: right;padding-top: 35px;" *ngIf="!noResultFound && !detailPage">
								<span style="cursor: pointer;font-size: 15px;" (click)="weatherDetails(data.woeid)">More Detail...</span>
							</div>
						</div>

					</article>
				</div>

				<div class="days" *ngIf="detailPage">
					<div class="row row-no-gutter">
						<div *ngFor="let item of data.consolidated_weather; let index =index; " >
							<div class="col-md-{{index > 3 ? 6 : 4}}" *ngIf="index > 0 && index < 6" >
								<div class="day" style="border: 1px solid;">
									<h1 class="city">{{item.applicable_date | dayConvert}}</h1>
									<article style="color: #000000;">
										<div class="info">
											<div class="city">
													{{weatherStates[item.weather_state_abbr]['name']}}
											</div>

											<div class="temp">{{item.the_temp | round}}°</div>

											<div class="wind">
												<span>{{item.min_temp | round}}° / 
												{{item.max_temp | round}}°</span>
											</div>	
										</div>

										<div>
											<img [src]="weatherStates[item.weather_state_abbr]['icon']" height="120px">
										</div>
									</article>	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<div id="preloader" *ngIf='showLoader'>
	<div id="loader-wrapper">
		<div class="loader">Loading...</div>
	</div>
</div>


