<div class="navbar navbar-default" style="padding-top: 7px;">
	<div class="container">
        <div class="form-group" style="display:inline;">
            <div class="input-group" style="display:table;width: 100%;">
                <input class="form-control" [(ngModel)]="cityname" placeholder="Search city name here" autocomplete="off" autofocus="autofocus" type="text">
                
            	<div class="input-group-btn navbar-btn">
					<button class="btn btn-default btn-nav" (click)="searchByCity(cityname)">
					SEARCH
					</button>
				</div>
            </div>
        </div>
	</div>
</div>

<app-weather-custom cityname={{cityname}}></app-weather-custom>